<div>
  <nav class="navbar fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/homepage">Doodlebob</a>
  </nav>
</div>

<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      <form class="form-inline my-2 my-lg-0" action="/insert" method="POST">

        <input class="form-signin mr-sm-2" type="text" placeholder="Name" name="name" required/>

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <label for="time1" class="sr">time1</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time1" id="time1" />
          </li>
          <li class="nav-item">
            <label for="time2" class="sr">time2</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time2" id="time2" />
          </li>
          <li class="nav-item">
            <label for="time3" class="sr">time3</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time3" id="time3" />
          </li>
          <li class="nav-item">
            <label for="time4" class="sr">time4</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time4" id="time4" />
          </li>
          <li class="nav-item">
            <label for="time5" class="sr">time5</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time5" id="time5" />
          </li>
          <li class="nav-item">
            <label for="time6" class="sr">time6</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time6" id="time6" />
          </li>
          <li class="nav-item">
            <label for="time7" class="sr">time7</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time7" id="time7" />
          </li>
          <li class="nav-item">
            <label for="time8" class="sr">time8</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time8" id="time8" />
          </li>
          <li class="nav-item">
            <label for="time9" class="sr">time9</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time9" id="time9" />
          </li>
          <li class="nav-item">
            <label for="time10" class="sr">time10</label>
            <input class="form-control mr-sm-2" type="checkbox" name="time10" id="time10" />
          </li>
        </ul>

        <button
          class="btn btn-outline-success my-2 my-sm-0"
          type="submit"
        >Save</button>

      </form>

    </div>
  </nav>
</div>